[submodule "tests/src/midifile"]
	path = tests/src/midifile
	url = https://github.com/craigsapp/midifile.git
[submodule "tests/src/tinywav"]
	path = tests/src/tinywav
	url = https://github.com/mhroth/tinywav.git
[submodule "hvcc/generators/c2fmod/static"]
	path = hvcc/generators/c2fmod/static
	url = https://github.com/JFuellem/HeavyPd-FMOD-Wrapper.git
